<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>To Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <%if comment.task_id != nil && Task.exists?(comment.task_id)%> 
        <tr>
          <td><%= comment.title %></td>
          <td><%= comment.description %></td>
          <td><%= Task.find(comment.task_id).title %></td>
          <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%else%>
        <%comment.delete%>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
